body {
    margin:0;
    font-family:'Roboto', sans-serif;
    font-weight:400;
    width: 500px;
    margin: 0 auto;
}

.navbar {
    padding-inline: 12px;
    background-color: cadetblue;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    list-style: none;
}
