{% extends 'base.html' %}
{% block title %}
    Reset your password
{% endblock title %}
{% block content %}
    <section>
        <div>
            <div>
                <h2>Reset your password</h2>
                {% if validlink %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Change password</button>
                    </form>
                {% else %}
                    <p>
                        The password reset link is invalid. <a href="{% url 'password_reset' %}">Request a new link</a>
                    </p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock content %}
